body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-color: #757575;
  padding: 20px;
}

#logo {
  width: 197px;
  height: 72px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-radius {
  border-radius: 10px;
}

ul li {
  width:90px;
  height: 44px;
  background-color: grey;
  list-style-type: none;
  margin-right: 10px;
  border-radius: 10px;
}

ul li:last-child {
  background-color:#454545;
  width: 130px;

}


#input {
  width: 350px;
  height: 45px;
}

/* The article section */

.articles{
    position: relative;

}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;


}
#first-art{
    background-color: #616161;
    height: 95vh;
}
#second-art{
    background-color: #9e9e9e;
    height: 95vh;
}
#third-art{
    background-color: #757575;
    height: 95vh;
}
#fourth-art{
    background-color:  #616161;
    height: 95vh;
}
.article-item h1{
   font-size: 40px;
   font-family: 'Nunito Sans', sans-serif;
   color:#fff;
   margin:20px  auto;
   text-align: justify;
   width: 80%;

}
.person{
    width: 87px;
    height: 96px;
    margin-top: 175px;
    margin-left: 50px;
    border-radius: 20px;
    transform: rotate(-15deg);
}
.person:hover {
  transform: rotate(0deg);
}

.btm-images{
    width: 87px;
    height: 96px;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 20px;
    transform: rotate(-15deg);
}

.fa-long-arrow-right{
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
}

/* floating elements */
.floating-items{
    position: absolute;
    top:35px;
    left:36.5%;


}
.floating-items h2{
    font-size: 40px;
    text-align: center;
    line-height: .9;


}
.floating-items span{
    background-color: #fff;
}
.floating-right{
    margin-left: 300px;
}
.floating-items button{
    width: 140px;
    height: 36px;
    margin-left:20px ;
    background-color: #454545;
    color: #fff;
    font-size: 15px;
    border-radius: 12px;
}

/* The article section section2*/

.grid-display {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-family: 'Nunito Sans', sans-serif;
}

.g-item {
  padding: 25px;
  transition: all .1s ease;
}

.g-item:hover {
  background-color: #9e9e9e;
  color:white;
}

.g-item h1 {
  font-size: 40px;
  margin-top: 10px;

}

.g-item p {
  font-size: 130%;
}


.article-btn {
  color:grey;
  padding: 10px;
  margin-left:0px;
  margin-top: 20px;
}

.article-btn:hover {
  color:white;
  background-color: black;
}

.btncont {
  width: 30%;
}

.grid-display2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2%;
}

.g2-item {
  text-align: center;
}
.g2-2{
background-color:grey;
width: 85%;
margin: auto;
border-radius: 10px;
padding:10px;
}

.g2-2 h1 {
  font-size:40px;
}
.g2-item p {
  font-size: 110%;
  width: 60%;
  margin: 10px auto;
}
/* The article section section3*/

#logo3 {
  width: 250px;
  height: 290px;
}

#card {
  border: 1px solid silver;
  border-radius: 10px;
  text-align: center;
  background-color:#9e9e9e;
  height:300px;
  margin-left:15%;
  padding: 15px;
}

.g2btn {
  height: 40px;
  color:black;
  border-radius: 10px;
  border: none;
}

.four {
  margin-top: 2%;
}

/* The community section */
.click{
    background-color: gray;
    text-align: center;
    
}
.click-text{
    width: 60%;
    margin: auto;
    padding-top: 20px;
    text-align: center;

}
.click-text h1{
    font-size: 40px;
    font-family:'Nunito Sans', sans-serif ;
}
.click button{
    width: 370px;
    height: 75px;
    background-color:black;
    font-size: 150%;
    color: #fff;
    border-radius: 10px;
}
.click img{
    
    max-width: 927px;
}


.Community{
    background-color: rgb(190, 187, 187);
}
.person-of-the-week{
   
    padding:30px 20px;
}
.person-of-the-week img{
    width: 230px;
    height: 246px;
    margin-left: 20px;
    transform: rotate(-15deg);
    border-radius: 25px;
}

.person-of-the-week img:hover{
    transform: rotate(0deg);
}
.desc{
    margin: 10px 40px;
}
.desc h3{
    margin-bottom: 20px;
}
.desc h2{
    font-weight: bold;
}
.desc p{
    font-size: 20px;
    line-height: 2;
}

.com-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.item img{
    
    width: 70px;
    height: 80px;
    margin-left: 20px;
    transform: rotate(-15deg);
    border-radius: 10px;
}
.item img:hover{
    transform: rotate(0deg);
}