body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  background-color: #757575;
  padding: 20px;
}

#logo {
  width: 197px;
  height: 72px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-radius {
  border-radius: 10px;
}

ul li {
  width:90px;
  height: 44px;
  background-color: grey;
  list-style-type: none;
  margin-right: 10px;
  border-radius: 10px;
}

ul li:last-child {
  background-color:#454545;
  width: 130px;

}


#input {
  width: 350px;
  height: 45px;
}

/* The article section */

.articles{
    position: relative;
  
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}
#first-art{
    background-color: #616161;
    height: 95vh;
}
#second-art{
    background-color: #9e9e9e;
    height: 95vh;
}
#third-art{
    background-color: #757575;
    height: 95vh;
}
#fourth-art{
    background-color:  #616161;
    height: 95vh;
}
.article-item h1{
   font-size: 40px;
   font-family: 'Nunito Sans', sans-serif;
   color:#fff;
   margin:20px  auto;
   text-align: justify;
   width: 80%;
   
}
.person{
    width: 87px;
    height: 96px;
    margin-top: 175px;
    margin-left: 50px;
    border-radius: 20px;
    transform: rotate(-15deg);
}
.btm-images{
    width: 87px;
    height: 96px;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 20px;
    transform: rotate(-15deg);
}

.fa-long-arrow-right{
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
}

/* floating elements */
.floating-items{
    position: absolute;
    top:35px;
    left:36.5%;
    
    
}
.floating-items h2{
    font-size: 40px;
    text-align: center;
    line-height: .9;
    
    
}
.floating-items span{
    background-color: #fff;
}
.floating-right{
    margin-left: 300px;
}
.floating-items button{
    width: 140px;
    height: 36px;
    margin-left:20px ;
    background-color: #454545;
    color: #fff;
    font-size: 15px;
    border-radius: 12px;
}